fastapi
uvicorn
httpx
loguru
python-multipart
python-dotenv
pydantic
chonkie
chonkie[st]
chonkie[model2vec]
chonkie[semantic]
email-validator
markitdown
pymupdf4llm
docx2md
pptx2md
openpyxl
mammoth
qdrant_client
python-docx
ollama
numpy